.git
.venv
venv
ENV
__pycache__
*.py[cod]
*.pyo
.env
.dockerignore
Dockerfile
docker-compose.yml
node_modules
frontend/node_modules
frontend/dist
train/data
models/*
!models/.gitkeep
*.log
.vscode
.idea
*.pyc
